<form [formGroup]="classForm" novalidate (ngSubmit)="onSubmit()">
	<mat-card class="shipping-card">


		<mat-card-content>
			<div class="row">
				<div class="col">
					<div class="row w-100">
						<div class="col space-between">
							<h4>{{ 'NEW_CLASS.TITLE' | translate }}</h4> <mat-slide-toggle (change)="classForm.value.active = !classForm.value.active" *ngIf="id"
							 [checked]="classForm.value.active">
								{{classForm.value['active'] ? 'Ativo' : 'Inativo'}}
							</mat-slide-toggle>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<mat-form-field class="full-width">
								<input matInput placeholder="{{ 'NEW_CLASS.NAME' | translate }}" formControlName="name">
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<mat-form-field class="full-width">
								<input matInput placeholder="{{ 'NEW_CLASS.MODALITY' | translate }}" formControlName="modality">
								<mat-error *ngIf="classForm.controls['modality'].hasError('required')">
									{{ 'NEW_CLASS.MODALITY' | translate }} {{ 'NEW_CLASS.VALIDATIONS.IS_REQUIRED' | translate }}
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col">
							<mat-form-field class="full-width">
								<input matInput placeholder="{{ 'NEW_CLASS.PLACE' | translate }}" formControlName="place">
								<mat-error *ngIf="classForm.controls['place'].hasError('required')">
									{{ 'NEW_CLASS.PLACE' | translate }} {{ 'NEW_CLASS.VALIDATIONS.IS_REQUIRED' | translate }}
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<mat-form-field class="full-width">
								<input matInput type="number" placeholder="{{ 'NEW_CLASS.VACANCIES' | translate }}" formControlName="vacancies">
								<mat-error *ngIf="classForm.controls['vacancies'].hasError('required')">
									{{ 'NEW_CLASS.VACANCIES' | translate }} {{ 'NEW_CLASS.VALIDATIONS.IS_REQUIRED' | translate }}
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col">
							<mat-form-field class="full-width">
								<input matInput type="number" placeholder="{{ 'NEW_CLASS.DURATION' | translate }}" formControlName="duration">
								<mat-error *ngIf="classForm.controls['duration'].hasError('required')">
									{{ 'NEW_CLASS.DURATION' | translate }} {{ 'NEW_CLASS.VALIDATIONS.IS_REQUIRED' | translate }}
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col">
							<mat-form-field class="full-width">
								<input matInput placeholder="{{ 'NEW_CLASS.RECURRENCE' | translate }}" formControlName="recurrence">
								<mat-error *ngIf="classForm.controls['recurrence'].hasError('required')">
									{{ 'NEW_CLASS.RECURRENCE' | translate }} {{ 'NEW_CLASS.VALIDATIONS.IS_REQUIRED' | translate }}
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col">
							<mat-form-field class="full-width">
								<input matInput type="number" placeholder="{{ 'NEW_CLASS.EVENTS' | translate }}" formControlName="events">
								<mat-error *ngIf="classForm.controls['events'].hasError('required')">
									{{ 'NEW_CLASS.EVENTS' | translate }} {{ 'NEW_CLASS.VALIDATIONS.IS_REQUIRED' | translate }}
								</mat-error>
							</mat-form-field>
						</div>
					</div>

					<mat-card-actions>
						<button mat-raised-button color="secondary" type="button" (click)="classForm.reset()" [routerLink]="['/']">{{ 'NEW_CLASS.BUTTONS.BACK' | translate }}</button>

						<button mat-raised-button color="primary" type="submit" [disabled]="classForm.invalid">{{ 'NEW_CLASS.BUTTONS.SAVE' | translate }}</button>
					</mat-card-actions>
				</div>
				<div class="col"></div>
			</div>
		</mat-card-content>
	</mat-card>
</form>