.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.space-between{
    display: flex;
	justify-content: space-between;
	align-items: center;
}
mat-card-content, .px-1{
	padding-left: 16px;
	padding-right: 16px;
}
mat-card-header{
	width: 100%;
	padding: 0px;
}
.w-100{
	width:100%;
}