<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Teste de Angular
  </h1>
  <img width="300" alt="Angular Logo" src="https://app.tecnofit.com.br/img/logo/01_200px.png">
</div>
<h2>Crie as seguintes funcionalidades:</h2>
<ul>
  <li>
    Lista de turmas contendo:
    <ul>
      <li>Nome</li>
      <li>Modalidade</li>
      <li>Local</li>
      <li>Vagas</li>
      <li>Duração</li>
      <li>Eventos no mês</li>
      <li>Recorrência</li>
    </ul>
  </li>
  <li>
    Edição de turma contendo os mesmos itens da listagem.
  </li>
</ul>
<h2>Requisitos:</h2>
<ul>
  <li>Laze-loading</li>
  <li>Suporte a internacionalização</li>
</ul> -->
<select #langSelect (change)="translate.use(langSelect.value)">
	<option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
</select>

<router-outlet></router-outlet>