<!-- <pre>
	{{ dataSource | json }}
</pre> -->

<div class="px-1">
	<h4>{{ 'CLASS-LIST.TITLE' | translate }}</h4>
	
	<div class="d-flex">
		<mat-form-field appearance="standard">
			<input matInput placeholder="Procurar turma"  (keyup)='updateFilter($event)'>
			<mat-icon matPrefix>search</mat-icon>
		</mat-form-field>
		<button class="add-button" [routerLink]="['/new-class']">
			<mat-icon>add</mat-icon>
			{{ 'CLASS-LIST.BTN_NEW_CLASS' | translate }}
		</button>
	</div>

	<mat-table *ngIf="list" #table [dataSource]="list" matSort aria-label="Elements">

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CLASS-LIST.TABLE.NAME' | translate }}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
		</ng-container>


		<!-- Modality Column -->
		<ng-container matColumnDef="modality">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CLASS-LIST.TABLE.MODALITY' | translate }}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.modality}}</mat-cell>
		</ng-container>


		<!-- Place Column -->
		<ng-container matColumnDef="place">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CLASS-LIST.TABLE.PLACE' | translate }}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.place}}</mat-cell>
		</ng-container>

		<!-- Recurrence Column -->
		<ng-container matColumnDef="recurrence">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CLASS-LIST.TABLE.RECURRENCE' | translate }}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.recurrence}}</mat-cell>
		</ng-container>

		<!-- Vacancies Column -->
		<ng-container matColumnDef="vacancies">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CLASS-LIST.TABLE.VACANCIES' | translate }}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.vacancies}}</mat-cell>
		</ng-container>


		<!-- Duration Column -->
		<ng-container matColumnDef="duration">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CLASS-LIST.TABLE.DURATION' | translate }}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.duration}}</mat-cell>
		</ng-container>

		<!-- Options Column -->
		<ng-container matColumnDef="options">
			<mat-header-cell *matHeaderCellDef></mat-header-cell>
			<mat-cell *matCellDef="let row">
				<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
					<mat-icon>more_horiz</mat-icon>
				</button>
				<mat-menu #menu="matMenu" xPosition="before">
					<button mat-menu-item [routerLink]="[row.id]">
						<mat-icon>edit</mat-icon>{{ 'CLASS-LIST.TABLE.OPTIONS.EDIT' | translate }}
					</button>
					<button mat-menu-item (click)="deletItem(row.id)">
						<mat-icon>highlight_off</mat-icon>{{ 'CLASS-LIST.TABLE.OPTIONS.REMOVE' | translate }}
					</button>
				</mat-menu>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>

	<div class="row" *ngIf="!list">
		<div class="col d-flex align-items-center justify-content-center">
			<div class="div text-center">
				<img src="http://www.banzaicoworking.com.br/assets/img/lightbox/loading3.gif" alt="Imagem de uma ampulheta">
				<br>
				Aguarde um pouquinho
			</div>
		</div>
	</div>
</div>