.full-width-table {
  width: 100%;
}
.add-button{
	background:#fff;
	border: 1px dashed #ccc;
	color: #666;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-left: auto;
	height: 50px;
	width: 120px;
}
.d-flex{
	display: flex;
}
.align-items-center{
	align-items: center;
}
.justify-content-center{
	justify-content: center;
}
.text-center{
	text-align: center;
}
.px-1{
	padding-left: 16px;
	padding-right: 16px;
}